.council-card, .council-card-avatar {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

.council:after {
  content: '';
  display: table;
  clear: both; }

.council {
  padding: 20px 0;
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 1.48; }
  .council-card {
    text-align: center;
    border-radius: 3px;
    background: #fafafa;
    margin: 20px 0;
    padding: 20px 10px; }
    @media only screen and (max-width: 1023px) {
      .council-card {
        width: 50%; } }
    .council-card-avatar {
      border: 2px solid #09c;
      width: 128px;
      height: 128px;
      overflow: hidden;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      transition: all .2s ease-in-out; }
      .council-card-avatar > .img {
        display: block;
        min-width: 100%;
        max-width: 100%;
        width: 100%; }
    .council-card-descr-name {
      font-weight: bold;
      color: black;
      font-size: 0.9em;
      line-height: 1.48;
      padding: 10px; }
    .council-card-descr-position {
      padding: 10px;
      font-size: 0.8em; }
      .council-card-descr-position:before {
        display: block;
        width: 30%;
        margin: 0 auto;
        content: '';
        height: 3px;
        background: #09c;
        margin-bottom: 20px; }

.col-1 {
  width: 8.33333%;
  float: left; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }
