.council-card, .council-card-avatar {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

.council:after {
  content: '';
  display: table;
  clear: both; }

.council {
  padding: 20px 0;
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 1.48; }
  .council-card {
    text-align: center;
    border-radius: 3px;
    background: #fafafa;
    margin: 20px 0;
    padding: 20px 10px; }
    :nth-child(2n+1) {
      border-radius: 53% 18% 21% 69%;
      transform: 7deg;
      -webkit-transform: 7deg;
      -moz-transform: 7deg;
      -ms-transform: 7deg;
      -o-transform: 7deg; }
      :nth-child(2n+1):hover {
        border-radius: 9% 35% 64% 62%;
        transform: 3deg;
        -webkit-transform: 3deg;
        -moz-transform: 3deg;
        -ms-transform: 3deg;
        -o-transform: 3deg; }
    :nth-child(3n+2) {
      border-radius: 65% 84% 75% 73%;
      transform: -5deg;
      -webkit-transform: -5deg;
      -moz-transform: -5deg;
      -ms-transform: -5deg;
      -o-transform: -5deg; }
      :nth-child(3n+2):hover {
        border-radius: 66% 93% 3% 29%;
        transform: 0deg;
        -webkit-transform: 0deg;
        -moz-transform: 0deg;
        -ms-transform: 0deg;
        -o-transform: 0deg; }
    :nth-child(5n+3) {
      border-radius: 40% 43% 14% 32%;
      transform: -3deg;
      -webkit-transform: -3deg;
      -moz-transform: -3deg;
      -ms-transform: -3deg;
      -o-transform: -3deg; }
      :nth-child(5n+3):hover {
        border-radius: 87% 8% 3% 12%;
        transform: -2deg;
        -webkit-transform: -2deg;
        -moz-transform: -2deg;
        -ms-transform: -2deg;
        -o-transform: -2deg; }
    :nth-child(7n+5) {
      border-radius: 39% 79% 33% 60%;
      transform: -8deg;
      -webkit-transform: -8deg;
      -moz-transform: -8deg;
      -ms-transform: -8deg;
      -o-transform: -8deg; }
      :nth-child(7n+5):hover {
        border-radius: 95% 32% 86% 35%;
        transform: 6deg;
        -webkit-transform: 6deg;
        -moz-transform: 6deg;
        -ms-transform: 6deg;
        -o-transform: 6deg; }
    :nth-child(11n+7) {
      border-radius: 20% 35% 40% 86%;
      transform: 9deg;
      -webkit-transform: 9deg;
      -moz-transform: 9deg;
      -ms-transform: 9deg;
      -o-transform: 9deg; }
      :nth-child(11n+7):hover {
        border-radius: 40% 61% 21% 27%;
        transform: -9deg;
        -webkit-transform: -9deg;
        -moz-transform: -9deg;
        -ms-transform: -9deg;
        -o-transform: -9deg; }
    .council-card-avatar img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      width: 100%; }
    .council-card-descr-name {
      font-weight: bold;
      color: black;
      font-size: 0.9em;
      line-height: 1.48;
      padding: 10px; }
    .council-card-descr-position {
      padding: 10px;
      font-size: 0.8em; }
      .council-card-descr-position:before {
        display: block;
        width: 30%;
        margin: 0 auto;
        content: '';
        height: 3px;
        background: #09c;
        margin-bottom: 20px; }

@media only screen and (max-width: 479px) {
  .col-2 {
    width: 50%; } }

.col-1 {
  width: 8.33333%;
  float: left; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

:nth-child(2n+1) {
  border-radius: 83% 80% 26% 33%;
  transform: -6deg;
  -webkit-transform: -6deg;
  -moz-transform: -6deg;
  -ms-transform: -6deg;
  -o-transform: -6deg; }
  :nth-child(2n+1):hover {
    border-radius: 98% 94% 77% 58%;
    transform: -7deg;
    -webkit-transform: -7deg;
    -moz-transform: -7deg;
    -ms-transform: -7deg;
    -o-transform: -7deg; }

:nth-child(3n+2) {
  border-radius: 40% 11% 19% 42%;
  transform: -9deg;
  -webkit-transform: -9deg;
  -moz-transform: -9deg;
  -ms-transform: -9deg;
  -o-transform: -9deg; }
  :nth-child(3n+2):hover {
    border-radius: 56% 24% 6% 11%;
    transform: 0deg;
    -webkit-transform: 0deg;
    -moz-transform: 0deg;
    -ms-transform: 0deg;
    -o-transform: 0deg; }

:nth-child(5n+3) {
  border-radius: 99% 84% 12% 96%;
  transform: 10deg;
  -webkit-transform: 10deg;
  -moz-transform: 10deg;
  -ms-transform: 10deg;
  -o-transform: 10deg; }
  :nth-child(5n+3):hover {
    border-radius: 81% 72% 26% 53%;
    transform: -1deg;
    -webkit-transform: -1deg;
    -moz-transform: -1deg;
    -ms-transform: -1deg;
    -o-transform: -1deg; }

:nth-child(7n+5) {
  border-radius: 46% 10% 69% 87%;
  transform: 5deg;
  -webkit-transform: 5deg;
  -moz-transform: 5deg;
  -ms-transform: 5deg;
  -o-transform: 5deg; }
  :nth-child(7n+5):hover {
    border-radius: 83% 5% 58% 12%;
    transform: 8deg;
    -webkit-transform: 8deg;
    -moz-transform: 8deg;
    -ms-transform: 8deg;
    -o-transform: 8deg; }

:nth-child(11n+7) {
  border-radius: 99% 30% 91% 62%;
  transform: 0deg;
  -webkit-transform: 0deg;
  -moz-transform: 0deg;
  -ms-transform: 0deg;
  -o-transform: 0deg; }
  :nth-child(11n+7):hover {
    border-radius: 50% 70% 57% 39%;
    transform: 3deg;
    -webkit-transform: 3deg;
    -moz-transform: 3deg;
    -ms-transform: 3deg;
    -o-transform: 3deg; }

.cicada {
  border-radius: 74% 70% 2% 27%;
  transform: -1deg;
  -webkit-transform: -1deg;
  -moz-transform: -1deg;
  -ms-transform: -1deg;
  -o-transform: -1deg;
  border-radius: 83% 91% 7% 25%;
  transform: -8deg;
  -webkit-transform: -8deg;
  -moz-transform: -8deg;
  -ms-transform: -8deg;
  -o-transform: -8deg; }
