doctype html
html
    head
        title Заголовок
        link(href="css/main.css" rel="stylesheet")
    body
        h1 Команда
        .council
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/81.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/42.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/59.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/women/10.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/51.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/women/95.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/7.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/women/90.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
            .col-2.item
                .council-card
                    .council-card-avatar
                        img.img(src="https://randomuser.me/api/portraits/men/75.jpg" alt="")
                    .council-card-descr-name Иван Петров
                    .council-card-descr-position Студент
        