doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Заголовок
        link(href="css/main.css" rel="stylesheet")
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .container
            h1 Команда
            .council
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/81.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/42.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/59.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/women/10.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/51.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/women/95.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/7.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/women/90.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
                .item.phone-s-11.phone-5.tablet-3.desktop-2
                    .council-card
                        .council-card-avatar
                            img.img(src="https://randomuser.me/api/portraits/men/75.jpg" alt="")
                        .council-card-descr-name Иван Петров
                        .council-card-descr-position Студент
        